body{
    font-family: 'Asap', sans-serif;
}
h1{
    font-size: 8vmin;
    font-weight: 500;
}
h3{
    font-size: 3vmin;
}
p{
    width: 40%;
    font-size: 2.5vmin;
}
.name-highlight{
    color: orange;
}